div(style="width: 100%; background: #E5E5E5; padding: 35px 0;")
  center
    div(style="padding: 2% 5%;")
      img(style="max-width: 230px; min-width: 230px;", src="https://rivercarshow.com/wp-content/uploads/2021/03/car-2--uai-1032x341.png", alt="Logo")
      br
      br
  div(style="width: 90%; max-width: 800px; margin: 0 auto;  background: #ffffff; border-radius: 7px; font-family: 'Trebuchet MS';")
    div(style="padding: 2% 5%; color: #505050;")
      center
        h3 Good morning #{first},
        p
          | We are excited that you are participating in our May 2024 River Car Show.
        p
          | For your convenience, we are sending your DIGITAL FAST PASS. With the FAST PASS, you will be able to enter the show quickly by using the fast lane.
        
      br
      figure(style="border-radius:5px; text-align:center;")
        img(style="width: 80%;border-radius:10px;", src=url, alt="Fast Pass")
        figcaption(style="margin:0 auto;")
          span(style="font-size: 11px;") Click 
            a(href=url, target="_blank") HERE
            |  if you can&apos;t see the fast pass.
      p
      br
      //- p
          //- | Your personal RIVER CAR CLUB BADGE is ready for pick up at the Exhibitor Booth.
      p
        div(style="border-radius: 4px; border: 1px solid #0a81c5; background-color: #ecf5fb; padding: 5px; text-align:left;")
          strong ✨ Car Show Updates in Brief
          ul(style="margin: 0px;")
            li Best in Show Prize of $750 and and People's Choice Prize of $500
            li Judge Rotations
            li QR Code FAST PASS
            li Door Prizes
            li Attractions: RC Car Race Track, and Air Hockey Table
            li Food Trucks
      p Thank you for being a part of the River Car Show.
      p If you have any questions or comments, please email us at rivercarshow@gmail.com
      p
        | Thank You,
        br
        | River Car Show Team
