div(style="width: 100%; background: #E5E5E5; padding: 35px 0;")
  div(style="padding: 2% 5%; text-align: center;")
    img(style="max-width: 230px; min-width: 230px;", src="http://drive.google.com/uc?export=view&id=1wbjKT7D-pkziXe8qwpuVdRNZOzGmRG8x", alt="Logo")
    br
    br
    br
  div(style="width: 90%; max-width: 800px; margin: 0 auto;  background: #ffffff; border-radius: 7px; font-family: 'Trebuchet MS'; position:relative;")
    div(style="padding: 2% 5%; color: #505050; text-align:center;")
      img(src="http://drive.google.com/uc?export=view&id=13TRCQkDj8BDmAxQDCmBpnfJtVm1LQ5R8", style="position:absolute;top:-55px; left:-60px;", width="180px")
      h3 Good Afternoon #{first},
      p
        | This email contains your DIGITAL FASTPASS. 
        br
        | With the fastpass, you will be able to enter the Graduation Ceremony and the Sunday Morning Service quickly by using the fast lane.
      p
        | Present your fast pass along with your government-issued ID at the check-in.
      p
      br
      figure(style="border-radius:5px; text-align:center;")
        img(style="width: 80%;border-radius:10px;", src=url, alt="Fast Pass")
        figcaption(style="width:90%;margin:0 auto;")
          span(style="font-size: 12px;") Click 
            a(href=url, target="_blank") HERE
            | if you can&apos;t see the fast pass.
      br
      p Thank you for joining us at the 2023 Spring Minister&apos;s &amp; Leader&apos;s Conference and Graduation Ceremony.
      p
        em(style="font-size:90%;") “This is a time of divine deposits where people&apos;s lives will be transformed and changed over eight days!”
          br
          | - Dr. Rodney Howard-Browne -
    div(style="max-width: 100%; background: #444; color: #CCC; border-radius: 0 0 5px 5px; font-size: 13px; line-height:2em;")
      div(style="width: 250px; margin: 0 auto 20px; padding-top: 20px;")
        img(src="https://pub.revival.com/s/images/rmi-logo-footer@2x.png", alt="logo", style="width: 90px; height: auto;")
        img(src="https://pub.revival.com/s/images/rmi-text-footer@2x.png", alt="rmi-text", style="width: 110px; height: auto;padding:0 0 10px 10px")
      div(style="margin: 0 auto; max-width: 484px")
        div(style="width:110px; padding:0 25px; display: inline-block; vertical-align:top;")
          h3 Ministries
          ul(style="list-style-type: none; padding-left: 0;")
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/river/about") River Church
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://www.riverbibleinstitute.com") Bible Institute
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://www.riverschoolofworship.com") School of Worship
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://www.riverschoolofgovernment.com") School of Gov&apos;t
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/rmima") RMIMA
        
        div(style="border-left: solid 1px #4E5054; display: inline-block;")
        div(style="width:110px; padding:0 25px; display: inline-block; vertical-align: top;")
          h3 Popular Pages
          ul(style="list-style-type: none; padding-left: 0;")
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/prayer") Prayer Request
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/events") Upcoming Events
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/giving") Online Giving
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/partnership") Partnership
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/tvbroadcast") TV Broadcast
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://revival.com/soulwinningtools")
                | Soul Winning
                | Tools

        div(style="border-left: solid 1px #4E5054; display: inline-block;")
        div(style=" width: 110px; padding:0 25px; display: inline-block; vertical-align: top;")
          h3 Follow Us
          ul(style="list-style-type: none; padding-left: 0;")
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://www.facebook.com/rodneyadonicahowardbrowne/")
                i(class="icon-facebook")
                | Facebook
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://twitter.com/rhowardbrowne")
                i(class="icon-twitter")
                | Twitter
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://www.instagram.com/rodneyhowardbrowne/")
                i(class="icon-instagram")
                | Instagram
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://www.youtube.com/user/rodneyhowardbrowne")
                i(class="icon-youtube")
                | Youtube
            li(style="margin-left: 0;")
              a(style="color: #CCC; text-decoration: none;", target="_blank", href="https://www.periscope.tv/rhowardbrowne", class="periscope")
                span Periscope
        div(style="border-left: solid 1px transparent;")
        br
      // <div style="text-align: center;"> <span>© Copyright 1996-2023 Revival Ministries International</span></div>
